---
import CloseIcon from "@components/icons/CloseIcon.astro";
import Button from "@components/buttons/Button.astro";

const buttonId = 'close-modal-button"';
---

<Button id={buttonId} text="Cerrar"><CloseIcon /></Button>
