---
import DownloadIcon from "@components/icons/DownloadIcon.astro";
import Button from "@components/buttons/Button.astro";
---

<Button id="download-button" text="Descargar"><DownloadIcon /></Button>
