---
import InfoIcon from "@components/icons/InfoIcon.astro";
import Button from "@components/buttons/Button.astro";

const buttonId = 'info-button"';
---

<Button id={buttonId} text="Contacto"><InfoIcon /></Button>
