---
import Button from "@components/buttons/Button.astro";
import SunIcon from "@components/icons/SunIcon.astro";
import MoonIcon from "@components/icons/MoonIcon.astro";

const id = "mode-button";
const sunIconId = "sun-icon";
const moonIconId = "moon-icon";
---

<Button id={id} text="Modo">
  <div id={sunIconId}><SunIcon /></div>
  <div id={moonIconId}><MoonIcon /></div>
</Button>

<script define:vars={{ id, sunIconId, moonIconId }}>
  const THEME = {
    LIGHT: "light",
    DARK: "dark",
  };
  const html = document.getElementById("root");
  const modeButton = document.getElementById(id);
  const sunIcon = document.getElementById(sunIconId);
  const moonIcon = document.getElementById(moonIconId);
  const metaThemeColor  = document.querySelector('meta[name="theme-color"]')

  setThemeFromLocalStorageOrPrefersColorScheme();
  setEventListeners();

  function setEventListeners() {
    modeButton?.addEventListener("click", () => {
      localStorage["mode"] === THEME.LIGHT ? setDarkMode() : setLightMode();
    });
  }

  function setThemeFromLocalStorageOrPrefersColorScheme() {
    localStorage["mode"] === THEME.DARK ||
    (!("mode" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
      ? setDarkMode()
      : setLightMode();
  }

  function setLightMode() {
    html?.classList.remove(THEME.DARK);
    html?.classList.add(THEME.LIGHT);
    localStorage.setItem("mode", THEME.LIGHT);
    sunIcon.classList.add("hidden");
    moonIcon.classList.remove("hidden");
    metaThemeColor.setAttribute("content", "#fff");
  }

  function setDarkMode() {
    html?.classList.remove(THEME.LIGHT);
    html?.classList.add(THEME.DARK);
    localStorage.setItem("mode", THEME.DARK);
    sunIcon.classList.remove("hidden");
    moonIcon.classList.add("hidden");
    metaThemeColor.setAttribute("content", "#fff");
  }
</script>
