@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "WinkySans";
  src: url("/src/assets/fonts/WinkySans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-size: 2rem 2rem;
  --small-shadow-size: 0.2rem;
  --big-shadow-size: 0.4rem;
  --button-translation-on-clicking: translate(
    var(--small-shadow-size),
    var(--small-shadow-size)
  );
  --horizontal-space-size: 1rem;
  --break-line-size: 1rem;
  --scrollbar-style: oklch(0.67 0.1734 271.48) transparent;
}

html.light {
  --font-color: oklch(0.32 0 0);
  --background-color: oklch(0.83 0.1708 80.48);
  --background-color-opacity-25: oklch(0 0 0 / 25%);
  --background-color-contrast: oklch(0.32 0 0);
  --foreground-color: oklch(0.97 0.0194 55.15);
  --border-color: oklch(0 0 0);
  --shadow-sm: var(--small-shadow-size) var(--small-shadow-size) 0 0
    oklch(0 0 0);
  --shadow: var(--big-shadow-size) var(--big-shadow-size) 0 0 oklch(0 0 0);
  --mark-background-color: oklch(0.91 0.0472 18.06);
}

html.dark {
  --font-color: oklch(0.32 0 0);
  --background-color: oklch(0.83 0.1708 80.48);
  --background-color-opacity-25: oklch(0 0 0 / 25%);
  --background-color-contrast: oklch(0.32 0 0);
  --foreground-color: oklch(0.97 0.0194 55.15);
  --border-color: oklch(0 0 0);
  --shadow-sm: var(--small-shadow-size) var(--big-shadow-size) 0 0 oklch(0 0 0);
  --shadow: var(--big-shadow-size) var(--big-shadow-size) 0 0 oklch(0 0 0);
  --mark-background-color: oklch(0.91 0.0472 18.06);
}

* {
  font-family: "WinkySans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: var(--font-color);
}
