@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "WinkySans";
  src: url("/src/assets/fonts/WinkySans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "WinkySans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

:root {
  --background-size: 2rem 2rem;
  --shadow-structure: 6px 6px 0 0;
}

html.light {
  --background-color: oklch(0.83 0.1708 80.48);
  --background-color-contrast: oklch(0.32 0 0);
  --foreground-color: oklch(0.97 0.0194 55.15);
  --border-color: oklch(0.97 0.0194 55.15);
  --shadow: var(--shadow-structure) oklch(0 0 0);
}

html.dark {
  --background-color: oklch(0.32 0 0);
  --background-color-contrast: oklch(0.83 0.1708 80.48);
  --foreground-color: oklch(0.97 0.0194 55.15);
  --border-color: oklch(0.97 0.0194 55.15);
  --shadow: var(--shadow-structure) oklch(0 0 0);
}
