---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import Mark from "@components/Mark.astro";
import Heading1 from "@components/headings/Heading1.astro";
import Experience from "@components/Experience.astro";
import Paragraph from "@components/Paragraph.astro";
import Page from "@components/Page.astro";
import Header from "@components/Header.astro";
import Section from "@components/Section.astro";
import BreakLine from "@components/BreakLine.astro";
import Modal from "@components/Modal.astro";
---

<Layout>
  <Page>
    <Section>
      <Header />
      <Paragraph
        >¡Hola! Mi nombre es Sergio y soy ingeniero de software.</Paragraph
      >
      <BreakLine />
      <Paragraph>
        A lo largo de mi carrera he trabajado en muchos tipos de proyectos,
        siempre con el foco en el rendimiento, las buenas prácticas y la mejora
        continua.
      </Paragraph>
    </Section>
    <Heading1>Experiencia Profesional</Heading1>
    <Experience title="Ingeniero de Software en Capitole">
      <span slot="dates"
        ><time datetime="2024-08-26 08:00">26 ago. 2024</time> - actualidad</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de funcionalidades para un <i
          >ERP</i
        > y para la aplicación móvil de las personas operarias.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Mi labor consite en el desarrollo de componentes web para el <i
          >frontend</i
        > del <i>ERP</i>, componentes para la aplicación móvil y los
        microservicios que nutren ambas; aconsejando al cliente en todo momento
        para ayudarle en la toma de decisiones.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        La aplicación móvil, además, debe ser tolerante a falta de cobertura,
        teniendo un sistema de sincronización entre la base de datos remota y la
        base de datos local.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados son:
        <ul class="hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>.NET Multi-Platform App UI</Mark> para la apliación móvil
          </li>
          <li class="list-inside list-disc">
            Arquitectura limpia con diseño guiado por el dominio, principios <Mark
              >SOLID</Mark
            >, inyección de dependencias, patrón mediador, migraciones, etc
          </li>
          <li class="list-inside list-disc">
            <Mark>ASP.NET Core</Mark> para los microservicios
          </li>
          <li class="list-inside list-disc">
            <Mark>Azure DevOps</Mark>
          </li>
          <li class="list-inside list-disc">
            <Mark>MSTest</Mark> para los <i>tests</i> funcionales y unitarios
          </li>
          <li class="list-inside list-disc">
            <Mark>Playwright</Mark> para los <i>tests e2e</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>SQL Server y T-SQL</Mark> para la gestión de bases de datos
          </li>
          <li class="list-inside list-disc">
            <Mark>Vitest</Mark> para los <i>tests</i> unitarios del <i
              >frontend</i
            >
          </li>
          <li class="list-inside list-disc">
            <Mark>VueJS</Mark> para el <i>frontend</i>
          </li>
        </ul>
        <ul class="mt-2 flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>.NET Multi-Platform App UI</Mark></li>
          <li><Mark>ASP.NET Core</Mark></li>
          <li><Mark>Azure DevOps</Mark></li>
          <li><Mark>DDD</Mark></li>
          <li><Mark>MSTest</Mark></li>
          <li><Mark>Playwright</Mark></li>
          <li><Mark>SOLID</Mark></li>
          <li><Mark>SQL Server</Mark></li>
          <li><Mark>T-SQL</Mark></li>
          <li><Mark>Vitest</Mark></li>
          <li><Mark>VueJS</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Ingeniero de Software en Bilbomática">
      <span slot="dates"
        ><time datetime="2021-08-09 08:00">09 ago. 2021</time> - <time
          datetime="2024-08-26 08:00">26 ago. 2024</time
        >&nbsp;(3 años)</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de funcionalidades para la
        migración de una plataforma de contratación de servicios, así como la
        resolución de incidencias y <i>hotfixes</i> de la plataforma antigua.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        En cuanto a la aplicación heredada, contribuí a la mejora de código de
        tal forma que <Mark
          >disminuyó la media diaria de incidencias en producción de 20 a menos
          de 1</Mark
        >.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Mientras tanto, colaboré con la migración de dicha plataforma a
        tecnologías más modernas: desarrollando la arquitectura de los
        microservicios, la arquitectura del <i>frontend</i>, el desarrollo de
        las funcionalidades y un plan para que ambas aplicaciones cohexistieran
        en producción, de modo que los usuarios pudieran usar la aplicación web
        sin notar esa convivencia. Esto permitió, además, un sistema de <i
          >rollback</i
        >
        muy sencillo y fiable.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados en el <b>proyecto heredado</b> fueron:
        <ul class="hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>Angular y Magnolia CMS</Mark> para el <i>frontend</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>ASP.NET Core</Mark> para los microservicios
          </li>
          <li class="list-inside list-disc">
            <Mark>Dynamics CRM</Mark> para la gestión de bases de datos
          </li>
        </ul>
        <ul class="mt-2 flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>Angular</Mark></li>
          <li><Mark>ASP.NET Core</Mark></li>
          <li><Mark>Dynamics CRM</Mark></li>
          <li><Mark>Magnolia CMS</Mark></li>
        </ul>
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados en el <b>nuevo proyecto</b> fueron:
        <ul class="hidden lg:block">
          <li class="list-inside list-disc">
            Arquitectura limpia con diseño guiado por el dominio, principios <Mark
              >SOLID</Mark
            >, inyección de dependencias, patrón mediador, etc
          </li>
          <li class="list-inside list-disc">
            <Mark>ASP.NET Core</Mark> para los microservicios
          </li>
          <li class="list-inside list-disc">
            <Mark>Azure DevOps</Mark>
          </li>
          <li class="list-inside list-disc">
            <Mark>Docker y Kubernetes</Mark> para el despliegue y orquestación de
            las aplicaciones
          </li>
          <li class="list-inside list-disc">
            <Mark>Dynamics CRM</Mark> para la gestión de bases de datos
          </li>
          <li class="list-inside list-disc">
            <Mark>NUnit</Mark> para los <i>tests</i> funcionales y unitarios
          </li>
          <li class="list-inside list-disc">
            <Mark>Nuxt</Mark> para el <i>frontend</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>Playwright</Mark> para los <i>tests e2e</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>Vitest</Mark> para los <i>tests</i> unitarios del <i
              >frontend</i
            >
          </li>
        </ul>
        <ul class="mt-2 flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>ASP.NET Core</Mark></li>
          <li><Mark>Azure DevOps</Mark></li>
          <li><Mark>DDD</Mark></li>
          <li><Mark>Docker</Mark></li>
          <li><Mark>Dynamics CRM</Mark></li>
          <li><Mark>Kubernetes</Mark></li>
          <li><Mark>NUnit</Mark></li>
          <li><Mark>Nuxt</Mark></li>
          <li><Mark>SOLID</Mark></li>
          <li><Mark>Playwright</Mark></li>
          <li><Mark>Vitest</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Ingeniero de Software en Mecalux">
      <span slot="dates"
        ><time datetime="2019-07-11 08:00">11 jul. 2019</time> - <time
          datetime="2021-08-09 08:00">09 ago. 2021</time
        >&nbsp;(2 años y 1 mes)</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo, implantación y mantenimiento de funcionalidades
        para un sistema de gestión de almacenes, así como de la aplicación de
        <i>picking</i> de las personas operarias.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        En esta experiencia trabajé con metodología <i>scrum</i>, dentro de la
        cual se me asignó el rol de <b>calidad</b>. Las funciones de este rol
        fueron:
        <ul class="block">
          <li class="list-inside list-disc">
            Decidir al principio de cada <i>sprint</i> cuáles iban a ser los <i
              >tests</i
            > de aceptación de la historia de usuario
          </li>
          <li class="list-inside list-disc">
            Revisar cada mañana que no hubiera fallado ningún test en <i>main</i
            > debido a algún desarrollo del equipo
          </li>
          <li class="list-inside list-disc">
            Hablar con el equipo de infraestuctura en caso de necesidad
          </li>
        </ul>
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las funciones mencionadas anteriormente fueron añadidas a mis funciones
        base: análisis, desarrollo, revisiones de código, mantenimiento y
        desarrollo de <i>tests</i> de integración.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Algunas de las funcionales desarrolladas consistieron en la obtención de certificaciones de integración con <Mark>SAP</Mark>, <Mark>SageX3</Mark> y <Mark>Sage100c</Mark>.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Otra experiencia muy gratificante fue poder colaborar durante una semana en la implantación del sistema de gestión en un almacén <i>in situ</i>; tanto arreglando errores de la propia implantación como
        ayudando a las personas operarias a adaptarse al nuevo <i>software</i>. 
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados fueron:
        <ul class="hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>.NET Multi-Platform App UI</Mark> para la apliación móvil
          </li>
        </ul>
        <ul class="mt-2 flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>.NET Multi-Platform App UI</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
  </Page>
  <Modal />
</Layout>
