---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import ModeSwitch from "@components/ModeSwitch.astro";
---

<Layout>
  <main
    class="w-full md:w-2xl h-full bg-(--foreground-color) border border-2 shadow-(--shadow) p-8"
  >
    <ModeSwitch />
  </main>
</Layout>
