---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import Mark from "@components/Mark.astro";
import Heading1 from "@components/headings/Heading1.astro";
import Experience from "@components/Experience.astro";
import Paragraph from "@components/Paragraph.astro";
import Page from "@components/Page.astro";
import Header from "@components/Header.astro";
import Section from "@components/Section.astro";
import BreakLine from "@components/BreakLine.astro";
import Modal from "@components/Modal.astro";
---

<Layout>
  <Page>
    <Section>
      <Header />
      <Paragraph
        >¡Hola! Mi nombre es Sergio y soy ingeniero de software.</Paragraph
      >
      <BreakLine />
      <Paragraph>
        A lo largo de mi carrera he trabajado en muchos tipos de proyectos,
        siempre con el foco en el rendimiento, las buenas prácticas y la mejora
        continua.
      </Paragraph>
    </Section>
    <Heading1>Experiencia Profesional</Heading1>
    <Experience title="Ingeniero de Software en Capitole">
      <span slot="dates"
        ><time datetime="2024-08-26 08:00">26 ago. 2024</time> - actualidad</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de funcionalidades para un <i
          >ERP</i
        > y para la aplicación móvil de los operarios.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Mi labor consite en el desarrollo de componentes web para el <i
          >frontend</i
        > del <i>ERP</i>, componentes para la aplicación móvil y los
        microservicios que nutren ambas; aconsejando al cliente en todo momento
        para ayudarle en la toma de decisiones.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        La aplicación móvil, además, debe ser tolerante a falta de cobertura,
        teniendo un sistema de sincronización entre la base de datos remota y la
        base de datos local.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados son:
        <ul>
          <li class="list-inside list-disc">
            <Mark>VueJS</Mark> para el <i>frontend</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>.NET Multi-Platform App UI</Mark> para la apliación móvil
          </li>
          <li class="list-inside list-disc">
            <Mark>ASP.NET Core</Mark> para los microservicios
          </li>
          <li class="list-inside list-disc">
            <Mark>MSTest</Mark> para los <i>test</i> funcionales
          </li>
          <li class="list-inside list-disc">
            Arquitectura limpia con <Mark>diseño guiado por el dominio</Mark>,
            inyección de dependencias, patrón mediador, migraciones, etc
          </li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Ingeniero de Software en Capitole">
      <span slot="dates"
        ><time datetime="2024-08-26 08:00">26 ago. 2024</time> - actualidad</span
      >
      <Paragraph slot="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. <Mark>Duis aute irure</Mark> dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </Paragraph>
    </Experience>
    <Experience title="Ingeniero de Software en Capitole">
      <span slot="dates"
        ><time datetime="2024-08-26 08:00">26 ago. 2024</time> - actualidad</span
      >
      <Paragraph slot="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. <Mark>Duis aute irure</Mark> dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </Paragraph>
    </Experience>
  </Page>
  <Modal />
</Layout>
