---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import Mark from "@components/Mark.astro";
import Heading1 from "@components/headings/Heading1.astro";
import Experience from "@components/Experience.astro";
import Paragraph from "@components/Paragraph.astro";
import Page from "@components/Page.astro";
import Header from "@components/Header.astro";
import Section from "@components/Section.astro";
import BreakLine from "@components/BreakLine.astro";
import Modal from "@components/Modal.astro";
---

<Layout>
  <Page>
    <Section>
      <Header />
      <Paragraph
        >¡Hola! Mi nombre es Sergio y soy ingeniero de <i>software</i
        >.</Paragraph
      >
      <BreakLine />
      <Paragraph>
        A lo largo de mi carrera he trabajado en muchos tipos de proyectos,
        siempre con el foco en el rendimiento, las buenas prácticas y la mejora
        continua.
      </Paragraph>
    </Section>
    <Heading1>Experiencia Profesional</Heading1>
    <Experience title="Ingeniero de Software en Capitole">
      <span slot="dates"
        ><time datetime="2024-08-26 08:00">ago. 2024</time> - actualidad</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de funcionalidades para un <i
          >ERP</i
        > y para la aplicación móvil de las personas operarias.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Mi labor consiste en el desarrollo de componentes <i>web</i> para el <i
          >frontend</i
        > del <i>ERP</i>, componentes para la aplicación móvil y los
        microservicios que nutren ambas; aconsejando al cliente en todo momento
        para ayudarle en la toma de decisiones.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        La aplicación móvil, además, debe ser tolerante a la falta de cobertura,
        teniendo un sistema de sincronización entre la base de datos remota y la
        base de datos local.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados son:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>.NET Multi-Platform App UI</Mark> con <Mark>C#</Mark> para la aplicación
            móvil
          </li>
          <li class="list-inside list-disc">
            Arquitectura con diseño guiado por el dominio, principios <Mark
              >SOLID</Mark
            >, inyección de dependencias, patrón mediador, migraciones, etc
          </li>
          <li class="list-inside list-disc">
            <Mark>ASP.NET Core</Mark> con <Mark>C#</Mark> para los microservicios
          </li>
          <li class="list-inside list-disc">
            <Mark>Azure DevOps</Mark>
          </li>
          <li class="list-inside list-disc">
            Metodología <Mark>TDD</Mark>
          </li>
          <li class="list-inside list-disc">
            <Mark>MSTest</Mark> para los <i>tests</i> funcionales y unitarios
          </li>
          <li class="list-inside list-disc">
            <Mark>Playwright</Mark> para los <i>tests e2e</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>SQL Server y T-SQL</Mark> para la gestión de bases de datos
          </li>
          <li class="list-inside list-disc">
            <Mark>Vitest</Mark> para los <i>tests</i> unitarios del <i
              >frontend</i
            >
          </li>
          <li class="list-inside list-disc">
            <Mark>VueJS</Mark> con <Mark>TypeScript</Mark> para el <i
              >frontend</i
            >
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>.NET Multi-Platform App UI</Mark></li>
          <li><Mark>ASP.NET Core</Mark></li>
          <li><Mark>Azure DevOps</Mark></li>
          <li><Mark>C#</Mark></li>
          <li><Mark>DDD</Mark></li>
          <li><Mark>MSTest</Mark></li>
          <li><Mark>Playwright</Mark></li>
          <li><Mark>SOLID</Mark></li>
          <li><Mark>SQL Server</Mark></li>
          <li><Mark>T-SQL</Mark></li>
          <li><Mark>TDD</Mark></li>
          <li><Mark>TypeScript</Mark></li>
          <li><Mark>Vitest</Mark></li>
          <li><Mark>VueJS</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Ingeniero de Software en Bilbomática">
      <span slot="dates"
        ><time datetime="2021-08-09 08:00">ago. 2021</time> - <time
          datetime="2024-08-26 08:00">ago. 2024</time
        >&nbsp;(3 años)</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de funcionalidades para la
        migración de una plataforma de contratación de servicios, así como la
        resolución de incidencias y <i>hotfixes</i> de la plataforma antigua.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        En cuanto a la aplicación heredada, contribuí a la mejora de código de
        tal forma que <b
          >disminuyó la media diaria de incidencias en producción de 20 a menos
          de 1</b
        >.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Mientras tanto, colaboré con la migración de dicha plataforma a
        tecnologías más modernas: desarrollando la arquitectura de los
        microservicios, la arquitectura del <i>frontend</i>, el desarrollo de
        las funcionalidades y un plan para que ambas aplicaciones coexistieran
        en producción, de modo que los usuarios pudieran usar la aplicación <i
          >web</i
        >
        sin notar esa convivencia. Esto permitió, además, un sistema de <i
          >rollback</i
        >
        muy sencillo y fiable.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados en el proyecto heredado fueron:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>Angular y Magnolia CMS</Mark> para el <i>frontend</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>ASP.NET Core</Mark> con <Mark>C#</Mark> para los microservicios
          </li>
          <li class="list-inside list-disc">
            <Mark>Dynamics CRM</Mark> para la gestión de bases de datos
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>Angular</Mark></li>
          <li><Mark>ASP.NET Core</Mark></li>
          <li><Mark>C#</Mark></li>
          <li><Mark>Dynamics CRM</Mark></li>
          <li><Mark>Magnolia CMS</Mark></li>
          <li><Mark>TypeScript</Mark></li>
        </ul>
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados en el nuevo proyecto fueron:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            Arquitectura con diseño guiado por el dominio, principios <Mark
              >SOLID</Mark
            >, inyección de dependencias, patrón mediador, etc
          </li>
          <li class="list-inside list-disc">
            <Mark>ASP.NET Core</Mark> con <Mark>C#</Mark> para los microservicios
          </li>
          <li class="list-inside list-disc">
            <Mark>Azure DevOps</Mark>
          </li>
          <li class="list-inside list-disc">
            <Mark>Docker y Kubernetes</Mark> para el despliegue y orquestación de
            las aplicaciones
          </li>
          <li class="list-inside list-disc">
            <Mark>Dynamics CRM</Mark> para la gestión de bases de datos
          </li>
          <li class="list-inside list-disc">
            Metodología <Mark>TDD</Mark>
          </li>
          <li class="list-inside list-disc">
            <Mark>NUnit</Mark> para los <i>tests</i> funcionales y unitarios
          </li>
          <li class="list-inside list-disc">
            <Mark>Nuxt</Mark> para el <i>frontend</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>Playwright</Mark> para los <i>tests e2e</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>Vitest</Mark> para los <i>tests</i> unitarios del <i
              >frontend</i
            >
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>ASP.NET Core</Mark></li>
          <li><Mark>Azure DevOps</Mark></li>
          <li><Mark>C#</Mark></li>
          <li><Mark>DDD</Mark></li>
          <li><Mark>Docker</Mark></li>
          <li><Mark>Dynamics CRM</Mark></li>
          <li><Mark>Kubernetes</Mark></li>
          <li><Mark>NUnit</Mark></li>
          <li><Mark>Nuxt</Mark></li>
          <li><Mark>Playwright</Mark></li>
          <li><Mark>SOLID</Mark></li>
          <li><Mark>TDD</Mark></li>
          <li><Mark>Vitest</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Ingeniero de Software en Mecalux">
      <span slot="dates"
        ><time datetime="2019-07-11 08:00">jul. 2019</time> - <time
          datetime="2021-08-09 08:00">ago. 2021</time
        >&nbsp;(2 años y 1 mes)</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo, implantación y mantenimiento de funcionalidades
        para un sistema de gestión de almacenes, así como de la aplicación de
        <i>picking</i> de las personas operarias.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        En esta experiencia trabajé con metodología <i>scrum</i>, dentro de la
        cual <b>se me asignó el rol de calidad</b>. Las funciones de este rol
        fueron:
        <ul class="mt-(--break-line-size) block">
          <li class="list-inside list-disc">
            Decidir al principio de cada <i>sprint</i> cuáles iban a ser los <i
              >tests</i
            > de aceptación de la historia de usuario
          </li>
          <li class="list-inside list-disc">
            Revisar cada mañana que no hubiera fallado ningún test en <i>main</i
            > debido a algún desarrollo del equipo
          </li>
          <li class="list-inside list-disc">
            Hablar con el equipo de infraestructura en caso de necesidad
          </li>
        </ul>
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las funciones mencionadas anteriormente fueron añadidas a mis funciones
        base: análisis, desarrollo, revisiones de código, mantenimiento y
        desarrollo de <i>tests</i> funcionales.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Algunas de las funcionalidades desarrolladas consistieron en la
        obtención de certificaciones de integración con <Mark>SAP</Mark>, <Mark
          >SageX3</Mark
        >
        y <Mark>Sage100c</Mark>.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Otra experiencia muy gratificante fue poder colaborar durante una semana
        en la implantación del sistema de gestión en un almacén <i>in situ</i>;
        tanto arreglando errores de la propia implantación como ayudando a las
        personas operarias a adaptarse al nuevo <i>software</i>.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados fueron:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>.NET</Mark> con <Mark>C#</Mark> para el <i>backend</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>Angular</Mark> con <Mark>TypeScript</Mark> para el <i
              >frontend</i
            >
          </li>
          <li class="list-inside list-disc">
            API de comunicación con <Mark>Sage100c</Mark>
          </li>
          <li class="list-inside list-disc">
            API de comunicación con <Mark>SageX3</Mark>
          </li>
          <li class="list-inside list-disc">
            API de comunicación con <Mark>SAP</Mark>
          </li>
          <li class="list-inside list-disc">
            Arquitectura con diseño guiado por el dominio, principios <Mark
              >SOLID</Mark
            >, inyección de dependencias, patrón mediador, CQRS, migraciones,
            etc
          </li>
          <li class="list-inside list-disc">
            <Mark>Azure DevOps</Mark>
          </li>
          <li class="list-inside list-disc">
            <Mark>Jasmine</Mark> para los <i>tests e2e</i>
          </li>
          <li class="list-inside list-disc">
            Metodología <Mark>TDD</Mark>
          </li>
          <li class="list-inside list-disc">
            <Mark>NUnit y Specflow</Mark> para los <i>funcionales</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>SQL Server y T-SQL</Mark> para la gestión de bases de datos
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>.NET</Mark></li>
          <li><Mark>Angular</Mark></li>
          <li><Mark>Azure DevOps</Mark></li>
          <li><Mark>C#</Mark></li>
          <li><Mark>DDD</Mark></li>
          <li><Mark>Jasmine</Mark></li>
          <li><Mark>NUnit</Mark></li>
          <li><Mark>Sage100c</Mark></li>
          <li><Mark>SageX3</Mark></li>
          <li><Mark>SAP</Mark></li>
          <li><Mark>SOLID</Mark></li>
          <li><Mark>Specflow</Mark></li>
          <li><Mark>SQL Server</Mark></li>
          <li><Mark>TDD</Mark></li>
          <li><Mark>TypeScript</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Ingeniero de Software en Global Exchange">
      <span slot="dates"
        ><time datetime="2018-01-05 08:00">ene. 2018</time> - <time
          datetime="2019-07-11 08:00">jul. 2019</time
        >&nbsp;(1 año y 6 meses)</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de funcionalidades para la
        migración del <i>ERP</i> de la compañía, así como la resolución de incidencias
        y <i>hotfixes</i> de la plataforma antigua.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Desde mi entrada en la empresa, compaginé las labores de resolución de
        incidencias de la plataforma heredada —una aplicación bastante antigua—,
        con la migración de la misma.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        En colaboración constante con el área de negocio, aporté mis
        conocimientos en diseño e implementación de bases de datos y desarrollo
        de aplicaciones <i>web</i>, en una época en la que, aunque no han pasado
        tantos años, muchas empresas no habían apostado por el uso de
        tecnologías <i>web</i> para el desarrollo de grandes aplicaciones de uso
        interno.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados en el proyecto heredado fueron:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>SQL Server</Mark> para la gestión de bases de datos
          </li>
          <li class="list-inside list-disc">
            <Mark>Team Foundation Server —ahora Azure DevOps—</Mark>
          </li>
          <li class="list-inside list-disc">
            <Mark>T-SQL</Mark> como lenguaje para el desarrollo de procedimientos
            almacenados
          </li>
          <li class="list-inside list-disc">
            <Mark>Visual Basic .NET</Mark> como lenguaje de programación
          </li>
          <li class="list-inside list-disc">
            <Mark>Windows Forms</Mark> como framework de escritorio
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>SQL Server</Mark></li>
          <li><Mark>Team Foundation Server —ahora Azure DevOps—</Mark></li>
          <li><Mark>T-SQL</Mark></li>
          <li><Mark>Visual Basic .NET</Mark></li>
          <li><Mark>Windows Forms</Mark></li>
        </ul>
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados en el nuevo proyecto fueron:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            Arquitectura con diseño guiado por el dominio, principios <Mark
              >SOLID</Mark
            >, inyección de dependencias, patrón mediador, etc
          </li>
          <li class="list-inside list-disc">
            <Mark>ASP.NET Core</Mark> con <Mark>C#</Mark> para los microservicios
          </li>
          <li class="list-inside list-disc">
            <Mark>Liferay</Mark> —extendido mediante <i>portlets</i>— para el
            módulo de gestión de contenidos
          </li>
          <li class="list-inside list-disc">
            <Mark>NUnit</Mark> para los <i>tests</i> funcionales y unitarios
          </li>
          <li class="list-inside list-disc">
            <Mark>PostgreSQL</Mark> para la gestión de bases de datos
          </li>
          <li class="list-inside list-disc">
            <Mark>Team Foundation Server —ahora Azure DevOps—</Mark>
          </li>
          <li class="list-inside list-disc">
            <Mark>VueJS</Mark> con <Mark>TypeScript</Mark> para el <i
              >frontend</i
            >
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>ASP.NET Core</Mark></li>
          <li><Mark>C#</Mark></li>
          <li><Mark>Liferay</Mark></li>
          <li><Mark>NUnit</Mark></li>
          <li><Mark>PostgreSQL</Mark></li>
          <li><Mark>SOLID</Mark></li>
          <li><Mark>Team Foundation Server —ahora Azure DevOps—</Mark></li>
          <li><Mark>TypeScript</Mark></li>
          <li><Mark>VueJS</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Profesor de clases particulares">
      <span slot="dates"
        ><time datetime="2016-11-01 08:00">nov. 2016</time> - <time
          datetime="2018-11-01 08:00">nov. 2018</time
        >&nbsp;(2 años)</span
      >
      <Paragraph slot="description">
        Impartición de clases particulares de programación y bases de datos a
        personas universitarias.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Una vez adquirida algo de experiencia en el mundo laboral, me lancé a
        compaginar mis trabajos principales con clases particulares.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Esta experiencia fue muy interesante, ya que me permitió aprender acerca
        de comunicación, síntesis de información, paciencia y responsabilidad
        con la persona a la que enseñaba. Habilidades que más adelante me
        sirvieron a la hora de asumir roles más sénior.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías impartidas fueron:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            Lenguajes de programación como <Mark>C</Mark>, <Mark>C++</Mark> y <Mark
              >Java</Mark
            >
          </li>
          <li class="list-inside list-disc">
            <Mark>SQL</Mark> y <Mark>MariaDB</Mark> en asignaturas de bases de datos
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>C</Mark></li>
          <li><Mark>C++</Mark></li>
          <li><Mark>Java</Mark></li>
          <li><Mark>MariaDB</Mark></li>
          <li><Mark>SQL</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Ingeniero de Software en Yowi TV">
      <span slot="dates"
        ><time datetime="2017-04-01 08:00">abr. 2017</time> - <time
          datetime="2018-01-05 08:00">ene. 2018</time
        >&nbsp;(9 meses)</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de funcionalidades para una
        plataforma <i>web</i> de <i>streaming</i> de vídeo.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        En esta ocasión tuve que desarrollar desde el esquema de bases de datos
        hasta el <i>frontend</i>, pasando por los servicios.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Tengo un muy buen recuerdo de esta experiencia, ya que fue el comienzo
        de parte de mi especialización: tecnologías <i>web</i> basadas en <Mark
          >Node</Mark
        > —la otra parte es <Mark>.NET</Mark>—.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados fueron:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>Node</Mark> con <Mark>Express</Mark> para los servicios
          </li>
          <li class="list-inside list-disc">
            <Mark>PostgreSQL</Mark> para la gestión de bases de datos
          </li>
          <li class="list-inside list-disc">
            <Mark>VueJS</Mark> con <Mark>JavaScript</Mark> para el <i
              >frontend</i
            >
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>Express</Mark></li>
          <li><Mark>JavaScript</Mark></li>
          <li><Mark>Node</Mark></li>
          <li><Mark>PostgreSQL</Mark></li>
          <li><Mark>VueJS</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Programador en Poniyoco">
      <span slot="dates"
        ><time datetime="2016-07-01 08:00">jul. 2016</time> - <time
          datetime="2017-04-01 08:00">abr. 2017</time
        >&nbsp;(9 meses)</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de <i>plugins</i> personalizados para
        <Mark>WordPress</Mark>.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Mi objetivo fue desarrollar <i>plugins</i> reutilizables y minimalistas que
        permitieran construir sitios <i>web</i> fiables y con un rendimiento bueno,
        en un tiempo razonable.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados fueron:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>MariaDB</Mark> para la gestión de bases de datos
          </li>
          <li class="list-inside list-disc">
            <Mark>PHP</Mark>, <Mark>HTML</Mark>, <Mark>CSS</Mark> y <Mark
              >JavaScript</Mark
            > para el desarrollo de los <i>plugins</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>WordPress</Mark> para la gestión de contenidos
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>CSS</Mark></li>
          <li><Mark>HTML</Mark></li>
          <li><Mark>JavaScript</Mark></li>
          <li><Mark>MariaDB</Mark></li>
          <li><Mark>PHP</Mark></li>
          <li><Mark>WordPress</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Experience title="Programador en Mindshock">
      <span slot="dates"
        ><time datetime="2015-01-01 08:00">ene. 2015</time> - <time
          datetime="2016-07-01 08:00">jul. 2016</time
        >&nbsp;(1 año y 6 meses)</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de <i>plugins</i> de <Mark
          >Magento</Mark
        >
        para una tienda <i>online</i>.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Accedí a este puesto de trabajo mediante un convenio que tenía la
        Universidad de Salamanca con empresas de todo el país.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Con el cariño que un primer trabajo puede suscitar, recuerdo los
        primeros meses de formación de mi mentora —y las largas lecturas de
        documentación— hasta conseguir cierta autonomía, tras la que comencé mi
        andadura en el desarrollo <i>web</i>.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Como último apunte, este trabajo permeó en mí un fuerte sentido de la
        responsabilidad, ya que tuve que ejercerlo en modalidad 100% remota, con
        todo lo que ello conlleva.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados fueron:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>Magento</Mark> —actualmente <Mark>Adobe Commerce</Mark>— como
            plataforma de comercio electrónico
          </li>
          <li class="list-inside list-disc">
            <Mark>PHP</Mark>, <Mark>HTML</Mark>, <Mark>CSS</Mark> y <Mark
              >JavaScript</Mark
            > para el desarrollo de los <i>plugins</i>
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>CSS</Mark></li>
          <li><Mark>HTML</Mark></li>
          <li><Mark>JavaScript</Mark></li>
          <li>
            <Mark>Magento</Mark> —actualmente <Mark>Adobe Commerce</Mark>—
          </li>
          <li><Mark>MVC</Mark></li>
          <li><Mark>PHP</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
    <Heading1>Experiencia Complementaria</Heading1>
    <Experience title="Ingeniero de Software en Metropolis.coop">
      <span slot="dates"
        ><time datetime="2020-01-01 08:00">ene. 2020</time> - actualidad</span
      >
      <Paragraph slot="description">
        Análisis, desarrollo y mantenimiento de pequeñas aplicaciones <i>web</i
        >.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Puntualmente, colaboro en proyectos de <i>software</i> para pequeñas empresas,
        desde sitios de gestión de contenidos hasta software para automatizar tareas.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        En esta experiencia estoy aprendiendo a establecer un contacto temprano
        con el cliente para entender sus necesidades y ofrecerle la mejor
        solución.
      </Paragraph>
      <BreakLine slot="description" />
      <Paragraph slot="description">
        Las tecnologías y enfoques usados son:
        <ul class="mt-(--break-line-size) hidden lg:block">
          <li class="list-inside list-disc">
            <Mark>Angular</Mark> para el <i>frontend</i> de aplicaciones <i
              >web</i
            >
          </li>
          <li class="list-inside list-disc">
            <Mark>Astro</Mark> como gestor de contenidos
          </li>
          <li class="list-inside list-disc">
            <Mark>Bun</Mark> y <Mark>Deno</Mark> para los servicios
          </li>
          <li class="list-inside list-disc">
            <Mark>Deno Deploy</Mark> y <Mark>Hetzner</Mark> para el despliegue de
            servicios
          </li>
          <li class="list-inside list-disc">
            <Mark>Jasmine</Mark> para los <i>tests e2e</i>
          </li>
          <li class="list-inside list-disc">
            <Mark>PostgreSQL</Mark> para la gestión de bases de datos
          </li>
          <li class="list-inside list-disc">
            <Mark>Vercel</Mark> para el despliegue de aplicaciones <i>web</i>
          </li>
        </ul>
        <ul
          class="mt-(--break-line-size) flex flex-wrap justify-between gap-4 lg:hidden">
          <li><Mark>Angular</Mark></li>
          <li><Mark>Astro</Mark></li>
          <li><Mark>Bun</Mark></li>
          <li><Mark>Deno</Mark></li>
          <li><Mark>Jasmine</Mark></li>
          <li><Mark>Hetzner</Mark></li>
          <li><Mark>PostgreSQL</Mark></li>
          <li><Mark>Vercel</Mark></li>
        </ul>
      </Paragraph>
    </Experience>
  </Page>
  <Modal />
</Layout>
