---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import ModeSwitch from "@components/ModeSwitch.astro";
---

<Layout>
  <main
    class="h-full w-full border border-2 bg-(--foreground-color) p-8 shadow-(--shadow) md:w-2xl"
  >
    <ModeSwitch />
  </main>
</Layout>
