---
import DownloadIcon from "@components/icons/DownloadIcon.astro";
---

<button id="download-button"><DownloadIcon /></button>

<script>
  const downloadButton = document.getElementById("download-button");

  downloadButton?.addEventListener("click", async () => {
    const response: Response = await fetch("/api/download-cv");
    const blob: Blob = await response.blob();
    const objectUrl: string = URL.createObjectURL(blob);
    const link: HTMLAnchorElement = document.createElement("a");
    link.href = objectUrl;
    link.download = "products.pdf";
    link.click();
    URL.revokeObjectURL(objectUrl);
  });
</script>
