---
import BreakLine from "@components/BreakLine.astro";
import DownloadButton from "@components/DownloadButton.astro";
---

<header class="flex items-center justify-between">
  <span class="text-xl font-semibold">Sergio Vegas Alonso</span>
  <DownloadButton />
</header>
<BreakLine />
<BreakLine />
<BreakLine />
