---
import BreakLine from "@components/BreakLine.astro";
import DonwloadIcon from "@components/icons/DonwloadIcon.astro";
---

<header class="flex items-center justify-between">
  <span class="text-xl font-semibold">Sergio Vegas Alonso</span>
  <DonwloadIcon />
</header>
<BreakLine />
<BreakLine />
<BreakLine />
