---
import BreakLine from "@components/BreakLine.astro";
import DownloadButton from "@components/buttons/DownloadButton.astro";
import InfoButton from "@components/buttons/InfoButton.astro";
import HorizontalSpace from "@components/HorizontalSpace.astro";
import ModeButton from "@components/buttons/ModeButton.astro";
---

<header class="flex flex-col items-center lg:flex-row">
  <span
    class="flex-none text-2xl font-semibold text-(--font-highlighted-color)!"
    >Sergio Vegas Alonso</span
  >
  <div class="lg:hidden"><BreakLine /><BreakLine /></div>
  <ul class="flex w-full justify-between lg:grow lg:justify-end">
    <li><InfoButton /></li>
    <HorizontalSpace />
    <li><DownloadButton /></li>
    <HorizontalSpace />
    <li><ModeButton /></li>
  </ul>
</header>
<BreakLine />
<BreakLine />
