---
import CloseModalButton from "@components/buttons/CloseModalButton.astro";
import Heading1 from "@components/headings/Heading1.astro";
import LinkedInIcon from "@components/icons/LinkedInIcon.astro";
import MailIcon from "@components/icons/MailIcon.astro";
import PhoneIcon from "@components/icons/PhoneIcon.astro";
import HorizontalSpace from "@components/HorizontalSpace.astro";
import ExternalLink from "@components/icons/ExternalLink.astro";
import SmallHorizontalSpace from "@components/SmallHorizontalSpace.astro";
import BreakLine from "./BreakLine.astro";

const modalId = "modal";
---

<div
  id={modalId}
  class="fixed inset-0 z-[40] flex hidden items-start justify-center bg-(--background-color-opacity-25)"
>
  <section
    class="mt-20 flex h-[300px] w-9/10 flex-col border border-2 border-(--border-color) bg-(--foreground-color) px-6 py-8 shadow-(--shadow) sm:w-md sm:w-xl lg:mt-50"
  >
    <div class="flex items-center justify-between">
      <Heading1>Contacto</Heading1><CloseModalButton />
    </div>
    <div class="grow">
      <ul>
        <BreakLine />
        <BreakLine />
        <li class="flex cursor-pointer items-center">
          <LinkedInIcon /><HorizontalSpace />
          <a
            href="https://www.linkedin.com/in/%F0%9F%A4%96-sergio-vegas-alonso-a6728590/"
            target="_blank">LinkedIn</a
          >
          <SmallHorizontalSpace /><ExternalLink />
        </li>
        <BreakLine />
        <li class="flex cursor-pointer items-center">
          <MailIcon /><HorizontalSpace />
          <a href="mailto:sergio.vegas.alonso@gmail.com" target="_blank"
            >Correo Electrónico</a
          >
          <SmallHorizontalSpace /><ExternalLink />
        </li>
        <BreakLine />
        <li class="flex cursor-pointer items-center">
          <PhoneIcon /><HorizontalSpace />
          <a href="tel:+34627007928" target="_blank">Teléfono</a>
          <SmallHorizontalSpace /><ExternalLink />
        </li>
      </ul>
    </div>
  </section>
</div>
