<div class="switch">
  <input id="mode-switch" class="switch__input" type="checkbox" />
  <div class="switch__sky"></div>
  <div class="switch__sun-moon"></div>
</div>

<style>
  .switch {
    position: relative;
    width: 20rem;
    aspect-ratio: 5 / 2;
    border: 2px solid black;
  }

  .switch__input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }

  .switch__sky {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #87ceeb;
    transition: background-color 0.25s ease-in;
  }

  .switch__input:checked ~ .switch__sky {
    background-color: #131862;
  }

  .switch__sun-moon {
    position: absolute;
    height: 100%;
    width: 40%;
    border-radius: 100%;
    background-color: #ffe87c;
    transition: all 0.25s ease-in;
  }

  .switch__input:checked ~ .switch__sun-moon {
    transform-origin: center;
    transform: translateX(150%);
    background-color: #f5f3ce;
  }
</style>

<script>
  const html = document.getElementById("root");
  const modeSwitch = document.getElementById("mode-switch") as HTMLInputElement;

  setEventListeners();
  setThemeFromLocalStorageOrPrefersColorScheme();

  function setEventListeners() {
    modeSwitch?.addEventListener("click", () => {
      modeSwitch.checked ? setDarkMode() : setLightMode();
    });
  }

  function setThemeFromLocalStorageOrPrefersColorScheme() {
    localStorage["mode"] === "dark" ||
    (!("mode" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
      ? setDarkMode()
      : setLightMode();
  }

  function setLightMode() {
    html?.classList.remove("dark");
    html?.classList.add("light");
    modeSwitch.checked = false;
    localStorage.setItem("mode", "light");
  }

  function setDarkMode() {
    html?.classList.remove("light");
    html?.classList.add("dark");
    modeSwitch.checked = true;
    localStorage.setItem("mode", "dark");
  }
</script>
