---
import ScrollTopButton from "@components/buttons/ScrollTopButton.astro";

const id = "main";
const scrollTopButtonId = "scroll-top-button";
---

<main
  id={id}
  class="relative h-full w-full overflow-x-hidden overflow-y-scroll scroll-smooth border border-2 border-(--border-color) bg-(--foreground-color) pt-4 pr-4 pb-16 pl-4 shadow-(--shadow) lg:w-4xl lg:pt-8 lg:pr-8 lg:pl-8">
  <slot />
  <div
    id={scrollTopButtonId}
    class="fixed right-0 bottom-8 mr-4 hidden lg:right-(--scroll-top-button-right-position) lg:bottom-16 lg:mr-8">
    <ScrollTopButton />
  </div>
</main>

<script define:vars={{ id, scrollTopButtonId }}>
  const main = document.getElementById(id);
  const scrollTopButton = document.getElementById(scrollTopButtonId);

  main.addEventListener("scroll", () => {
    if (main.scrollTop < 20) {
      scrollTopButton.classList.add("hidden");
      scrollTopButton.classList.remove("block");
    } else {
      scrollTopButton.classList.add("block");
      scrollTopButton.classList.remove("hidden");
    }
  });

  scrollTopButton.addEventListener('click', () => {
    if (main.scrollTop >= 20) {
      main.scrollTop = 0;
    }
  });
</script>

<style>
  main {
    scrollbar-color: var(--scrollbar-style);
    scrollbar-width: auto;
  }
</style>
