---
import ScrollTopButton from "@components/buttons/ScrollTopButton.astro";
---

<main
  class="relative h-full w-full overflow-x-hidden overflow-y-scroll border border-2 border-(--border-color) bg-(--foreground-color) pt-4 pr-4 pb-32 pl-4 shadow-(--shadow) lg:w-4xl lg:pt-8 lg:pr-8 lg:pl-8">
  <slot />
  <div
    class="fixed right-0 botton-8 lg:bottom-16 mr-4 lg:right-(--scroll-top-button-right-position) lg:mr-8">
    <ScrollTopButton />
  </div>
</main>

<style>
  main {
    scrollbar-color: var(--scrollbar-style);
    scrollbar-width: auto;
  }
</style>
