---
import ModeSwitch from "../components/ModeSwitch.astro";
---

<!doctype html>
<html id="root" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>sergio vegas alonso - cv</title>
    <meta name="description" content="my cv" />
  </head>
  <body>
    <ModeSwitch />
    <slot />
  </body>
</html>

<style>
  body {
    transition: background-color 0.25s ease-in;
    background-size: 2rem 2rem;
  }

  html.light body {
    background-color: var(--light--background-color);
    background-image: radial-gradient(
      circle at center,
      var(--dark--background-color) 0.1rem,
      transparent 0
    );
  }

  html.dark body {
    background-color: var(--dark--background-color);
    background-image: radial-gradient(
      circle at center,
      var(--light--background-color) 0.1rem,
      transparent 0
    );
  }
</style>
