---
import ModeSwitch from "../components/ModeSwitch.astro";
---

<!doctype html>
<html id="root" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>sergio vegas alonso - cv</title>
    <meta name="description" content="my cv" />
  </head>
  <body class="bg-white dark:bg-black">
    <ModeSwitch />
    <slot />
  </body>
</html>
