<!doctype html>
<html id="root" lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="oklch(0.83 0.1708 80.48)" />
    <title>sergio vegas alonso - cv</title>
    <meta
      name="description"
      content="Os presento mi curriculum vitae versión web ⭐"
    />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, .NET, C#, Software Engineen, Rust, C, DDD, TypeScript, SQL"
    />
    <meta name="author" content="Sergio Vegas Alonso" />
  </head>
  <body
    class="flex h-screen justify-center bg-(--background-color) bg-(length:--background-size) p-0 transition lg:py-8"
  >
    <slot />
  </body>
</html>

<style>
  html.light body {
    background-image: radial-gradient(
      circle at center,
      var(--background-color-contrast) 0.1rem,
      transparent 0
    );
  }

  html.dark body {
    background-image: radial-gradient(
      circle at center,
      var(--background-color-contrast) 0.1rem,
      transparent 0
    );
  }
</style>
