<!doctype html>
<html id="root" lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="theme-color" content="oklch(0.83 0.1708 80.48)" />
    <title>Sergio Vegas Alonso - CV</title>
    <meta
      name="description"
      content="Os presento mi curriculum vitae versión web ⭐"
    />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, .NET, C#, Software Engineen, Rust, C, DDD, TypeScript, SQL"
    />
    <meta name="author" content="Sergio Vegas Alonso" />
  </head>
  <body
    class="flex h-screen justify-center bg-(--background-color) bg-(length:--background-size) p-0 transition lg:py-8"
  >
    <slot />
  </body>
</html>

<script lang="js">
  window.onload = function () {
    // information
    const infoButton = document.getElementById("info-button");
    infoButton.addEventListener("click", () =>
      modal.classList.remove("hidden"),
    );

    // close modal
    const modal = document.getElementById("modal");
    document.addEventListener("click", closeModalWhenClickInBackdropHandler);

    function closeModalWhenClickInBackdropHandler(event) {
      const element = event.target;
      if (element.id === "modal") {
        modal.classList.add("hidden");
      }
    }

    const closeModalButton = document.getElementById("close-modal-button");
    closeModalButton.addEventListener("click", () =>
      modal.classList.add("hidden"),
    );

    // donwload button
    const downloadButton = document.getElementById("download-button");

    downloadButton?.addEventListener("click", async () => {
      const response = await fetch("/api/download-cv");
      const blob = await response.blob();
      const objectUrl = URL.createObjectURL(blob);
      const link = document.createElement("a");
      link.href = objectUrl;
      link.download = "SergioVegasAlonso-CV.pdf";
      link.click();
      URL.revokeObjectURL(objectUrl);
    });
  };
</script>

<style>
  html.light body {
    background-image: radial-gradient(
      circle at center,
      var(--background-color-contrast) 0.1rem,
      transparent 0
    );
  }
</style>
